:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --text-color: #272142;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --navigation-font-family: "Montserrat", sans-serif;
  --logo-font-family: "Kalam", cursive;
}

body {
  font-family: var(--default-font-family);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: #000000;
  font-weight: 700;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 64px;
}

h3.intro {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
  margin-top: 47px;
  padding-top: 80px;
  margin-bottom: 82px;
}

p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}

a {
  font-family: var(--navigation-font-family);
}

footer {
  margin-top: 80px;
  margin-bottom: 130px;
}

.navigation-body {
  background-color: var(--secondary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  font-family: var(--logo-font-family);
  font-size: 24px;
}

.navbar-light .navbar-brand {
  color: #000000;
}

.navbar-links {
  font-size: 18px;
  font-weight: 500;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:focus {
  color: var(--text-color);
  opacity: 0.7;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--primary-color);
  opacity: 1;
}

.navbar-light .navbar-toggler {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 8px 14px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding-top: 276px;
  padding-bottom: 271px;
}

.hero p {
  font-weight: 700;
  font-size: 36px;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  color: var(--text-color);
}

.content {
  padding-top: 239px;
  padding-bottom: 24px;
}

.description {
  margin-top: 20px;
  padding-bottom: 50px;
}

.description h1 {
  font-size: 64px;
}

.description h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
  color: var(--text-color);
}

.description h3 {
  color: var(--primary-color);
}

.description h4,
.description h4 a {
  font-family: var(--navigation-font-family);
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
  margin-bottom: 50px;
  margin-top: 25px;
}

.description p {
  line-height: 1.87;
  margin-top: 28px;
  margin-bottom: 48px;
}

a.main-button {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 2px;
  padding: 18px 41px;
}

a.minor-button {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 2px;
  padding: 18px 31px;
}

.profile-pic {
  border-radius: 250px;
}

.description .profile-pic {
  border-radius: 50px;
}

.featured-project {
  margin-top: 65px;
}

.featured-project .project-image {
  display: block;
  margin: 0 auto;
  max-width: 75%;
}

.project-description {
  margin-top: 70px;
  margin-bottom: 75px;
}

.project-description p {
  line-height: 1.87;
  margin-top: 55px;
  margin-bottom: 50px;
}

.project-description h3 {
  font-family: var(--default-font-family);
  font-weight: 400;
  margin-top: 30px;
}

.project-description h2.intro {
  font-size: 50px;
}

.inquiry {
  background-color: var(--secondary-color);
  margin-top: 130px;
  border-radius: 20px;
  padding: 50px 122px 27px 120px;
}

.inquiry h2 {
  font-size: 48px;
  margin-bottom: 18px;
}

.inquiry p {
  font-size: 18px;
}

footer .email {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 24px;
}

footer .email a {
  text-decoration: none;
  color: #000000;
  font-family: var(--default-font-family);
}

footer .icon {
  color: var(--primary-color);
  font-size: 18px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  padding: 12px 14px;
}

@media (max-width: 767px) {
  .featured-projects {
    text-align: center;
  }
  .project-description {
    padding-left: 12px !important;
    padding-right: 12px;
  }
  img {
    width: 75%;
  }
  .inquiry {
    padding-left: 60px;
    padding-right: 61px;
  }
}

.footnote .source-code {
  font-family: var(--default-font-family);
  text-decoration: none;
  color: var(--primary-color);
}

.footnote .source-code:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 43px;
  }
  img {
    display: none;
  }
  .project-description {
    margin-top: 25px;
    margin-bottom: 30px;
  }
  .hero,
  .content {
    padding-top: 184px;
    padding-bottom: 181px;
  }
  .navigation-content {
    max-width: 540px;
  }
}

@media (max-width: 300px) {
  h1,
  .description h1 {
    font-size: 47px;
  }
  h2,
  .inquiry h2,
  .project-description h2.intro {
    font-size: 32px;
  }
  h3 {
    padding-top: 0;
    margin-bottom: 0;
  }
  h4 {
    font-size: 18px;
  }
  footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .inquiry {
    padding-left: 30px;
    padding-right: 31px;
    margin-top: 65px;
  }
  footer .email {
    font-size: 20px;
  }
  .hero,
  .content {
    padding-top: 80px;
    padding-bottom: 70px;
  }
  .featured-project {
    margin-top: 30px;
  }
}
